p {
    margin-bottom: 50px;
  }
  
#serviceHeader {
    margin-bottom: 70px;
  }
  
#serviceBanner {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 20px;
}
  
.serviceItem > img{
    width: 100%;
    border-radius: 10px;
}

.serviceItem {
    border-radius: 10px;
}

.serviceItem:hover {
    cursor: pointer;
    box-shadow: 0 0 15px black;
}
  
.serviceName {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.1em;
    color: #ffffff;
    margin: 20px 0;
}
  
#serviceMap {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
  
#serviceMap > h2 {
    margin-top: 0;
}

#serviceMap > img{
    width: 70vw;
    border: 2px solid #606382;
    border-radius: 20px;
}

li:not(.imageSizer) {
    text-align: left;
}