
@font-face {
    font-family: "Quattrocento";
    src: url("../fonts/Quattrocento-Bold.ttf");
}

html {
  margin: 0 8vw;
  background-color: #d9d9d9;
  color: #474747;
  font-family: arial;
}

body {
  background-color: #ffffff;
  /* padding: 4vh 6vw; */
  margin: 0;
  z-index: 0;
}

#bannerImg {
  content: url("../images/bannerMobile.png");
  width: 100%
}

#title {
  display: flex;
  grid-gap: 10px;
  font-family: "Quattrocento";
  margin: 4vh 6vw;
  max-width: 550px;
  max-height: 140px;
  border-top: 8px solid #606382;
  border-bottom: 8px solid #606382;
}

#logoBox {
  max-width: 64px;
  padding-top: 4px;
  margin: auto 0;
}

#logoBox > img {
  width: 100%;
}

#titleBox > h1 {
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 4px;
}

#titleBox > h2 {
  font-size: 1.2em;
  margin-top: 4px;
  margin-bottom: 15px;
}

.menu {
  position: fixed;
  padding-right: 5vw;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  top: 0;
  right: 0;
  background-color: rgba(66, 66, 66, 0.6);
  border-top: 10px solid #9dcaed;
  border-bottom: 10px solid #9dcaed;
  z-index: 10;
  transition: height .5s ease-in-out;
  overflow: hidden;
}

nav#mainNav {
  display: flex;
  grid-gap: 15px;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 20px;
}

.navLink {
  text-decoration: none;
  margin: auto;
  border: none;
  padding: 10px 15px;
  font-size: 1.5em;
  color: white;
  background-color: transparent;
}

.navLink:hover {
  color: #000000;
  background-color: #9dcaed;
  border-radius: 15px;
  box-shadow: 0 0 5px black;
}

#barHolder {
  align-content: unset;
}

#barsIcon {
  font-size: 3em;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  color: #9dcaed;
  border: none;
  border-radius: 15px;
  background-color: transparent;
  cursor: default;
  user-select: none;
}

#logo {
  position: absolute;
  height: 50px;
  left: 50px;
  transition: height .5s ease-in-out, left .5s ease-in-out;
}

#menuPhone {
  position: absolute;
  left: 120px;
  margin: 15px 0;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  opacity: 100%;
  transition: opacity .5s ease-in-out
}

.body {
  margin: 0 6vw;
  font-size: 1em;
}

.imgLeft {
  left: 6vw;
}

.imgRight {
  right: 6vw;
}

.banner {
  position: relative;
  width: 100%;
  left: -6vw;
  padding: 50px 6vw;
  background-color: #606382;
  color: #ffffff;
  z-index: 0;
}

.lightBanner {
  position: relative;
  width: 100%;
  left: -6vw;
  padding: 50px 6vw;
  background-color: #ffffff;
  color: #474747;
  z-index: 0;
}

.callBanner {
  position: relative;
  left: -6vw;
  width: 100%;
  padding: 20px 6vw;
  background-color: #606382;
  color: #ffffff;
  z-index: 0;
}

.callBanner h4 {
  margin: 0;
}

.bufferGap {
  width: 100%;
  height: 4vw;
}

.heading {
  margin: 0 6vw;
  font-size: 1.3em;
}

.callToAction {
  text-align: center;
  margin-top: 0;
}

hr {
  border: 4px solid #9dcaed;
}

hr.hrCorrection {
  margin: 0 6vw;
}

hr#name {
  max-width: 300px;
  margin: 0;
}

#actions {
  width: 100%;
  margin: 80px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px;
  text-align: center;
}

.action {
  padding: 20px;
  border: 2px solid #ffffff;
  border-radius: 20px;
}

.action:hover {
  cursor: pointer;
  border: 2px solid #474747;
  box-shadow: 0 0 15px black;
}

.actionName {
  height: 3em;
  text-align: center;
}

span.actionIcon {
  font-size: 6em;
}

/* Contact Section ////////////////////////////////////////*/


input {
  font-size: 1em;
  width: 100%;
  max-width: 750px;
  margin: 2vh 0;
  padding: .5vw;
  border: 2px solid #9dcaed;
  border-radius: 5px;
}

textarea {
  font-size: 1em;
  width: 100%;
  max-width: 750px;
  margin: 2vh 0;
  padding: .5vw;
  height: 200px;
  border: 2px solid #9dcaed;
  border-radius: 5px;
}

.subBtn {
  font-size: 1.2em;
  font-weight: bold;
  width: 20%;
  min-width: 80px;
  color: #ffffff;
  background-color: #606382;
  margin: 2vh 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.subBtn:hover {
  color: #000000;
  background-color: #9dcaed;
}

/* Review Cards ///////////////////////////////////////////*/
.review {
  max-width: 100%;
  border: 8px solid #9dcaed;
  border-radius: 30px;
  padding: 20px;
  margin-bottom: 30px;
}

.review img {
  max-width: 100px;
}

/* End of Page ////////////////////////////////////////////*/
.footer {
  width: 100%;
  margin: 0 0 8vw 0;
  padding: 30px 0;
  color: #ffffff;
  background-color: #606382;
  text-align: center;
}

#footerLogo {
  height: 150px;
}

#logo-name {
  display: flex;
  grid-gap: 4px;
  justify-content: center;
}

#footerName > h2 {
  text-align: start;
  font-size: 2em;
  margin: 15px 0;
}

#footerName > h3 {
  text-align: start;
  margin: 0;
  font-size: 1.5em;
}

#phoneNumber {
  margin: 20px 0;
}

#footerNav {
  width: 80%;
  margin: auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}

#footerNav > a {
  color: #9dcaed;
}

#footerNav > a:hover {
  color: #474747;
}

/* Desktop styling */
@media only screen and (min-width: 830px) {
  #barsIcon {
    display: none;
  }

  .menu {
    height: 120px;
  }

  .navBtn {
    margin: 3vh 0;
    flex-basis: 8%;
  }

  nav#mainNav {
    display: flex;
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
  }

  #bannerImg {
    content: url("../images/banner.png");
  }
  
  h1#title {
    font-size: 3em;
  }

  .subtitle {
    font-size: .5em;
  }

  #logo {
    height: 13vh;
    position: absolute;
    left: 6vw;
  }

  #titleBox > h1 {
    margin-bottom: 8px;
  }
  
  #titleBox > h2 {
    margin-top: 8px;
  }

  #menuPhone {
    font-size: 26px;
    margin: 47px 0;
    margin-left: 120px;
    left: 6vw;
  }

  .body {
    font-size: 1.2em;
  }

  .imgLeft {
    left: 20vw;
  }
  
  .imgRight {
    right: 20vw;
  }

  #serviceMap > img {
    width: 50vw;
  }

  #logo-name {
    grid-gap: 50px;
  }

  #footerName > h2 {
    margin: 30px 0;
  }
  
  #footerName > h3 {
    margin: 30px 0;
  }

  #footerNav {
    width: 30%;
  }

}