
@font-face {
    font-family: "Quattrocento";
    src: url("../fonts/Quattrocento-Bold.ttf");
}

html {
  margin: 0 8vw;
  background-color: #d9d9d9;
  font-family: arial;
}

body {
  background-color: #ffffff;
  /* padding: 4vh 6vw; */
  margin: 0;
  z-index: 0;
}

#bannerImg {
  /* position: relative; */
  width: 100%
}

h1#title {
  font-family: "Quattrocento";
  font-size: 3em;
  margin: 4vh 6vw;
  max-width: 550px;
  border-top: 8px solid #606382;
  border-bottom: 8px solid #606382;
  /* text-align: center; */
}

.subtitle {
  font-family: "Quattrocento";
  font-size: .7em;
}

.menu {
  position: fixed;
  padding-right: 5vw;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  top: 0;
  right: 0;
  background-color: rgba(66, 66, 66, 0.6);
  border-top: 10px solid #8adaff;
  border-bottom: 10px solid #8adaff;
  z-index: 10;
  transition: height .5s ease-in-out;
  overflow: hidden;
}

nav {
  display: flex;
  grid-gap: 20px;
  flex-direction: column;
  padding-top: 50px;
}

.navBtn {
  border: none;
  padding: 0 10px;
  font-size: 1.5em;
  color: white;
  background-color: transparent;
}

.navBtn:hover {
  color: #000000;
  background-color: #8adaff;
  border-radius: 15px;
}

#barHolder {
  align-content: unset;
}

#barsIcon {
  font-size: 3em;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  color: #8adaff;
  border: none;
  border-radius: 15px;
  background-color: transparent;
  cursor: default;
  user-select: none;
}

.imgLeft {
  left: 6vw;
}

.imgRight {
  right: 6vw;
}

@media only screen and (min-width: 600px) {
  #barsIcon {
    display: none;
  }

  .menu {
    height: 13vh;
  }

  .navBtn {
    margin: 3vh 0;
    flex-basis: 8%;
  }

  nav {
    display: flex;
    flex-direction: row;
    padding-top: 0;
  }
  
  .imgLeft {
    left: 20vw;
  }
  
  .imgRight {
    right: 20vw;
  }

}

hr {
  border: 4px solid #8adaff;
}

.body {
  margin: 0 6vw;
  padding-bottom: 10vh;
  font-size: 1.2em;
  color: #3d3d40;
}

/* About Section //////////////////////////////////////////*/
#about {
  display: none;
}

/* Service Section ////////////////////////////////////////*/
#services {
  display: none;
}

#serviceHeader {
  position: relative;
  left: -6vw;
  width: 100%;
  padding: 50px 6vw;
  background-color: #606382;
  color: #ffffff;
  margin-bottom: 70px;
  z-index: 0;
}

#serviceBanner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px;
}

.serviceItem > img{
  width: 100%;
  border-radius: 10px;
}

.serviceName {
  text-align: center;
}

li:not(.imageSizer) {
  text-align: left;
}

/* Gallery Section ////////////////////////////////////////*/
#gallery {
  /* display: none; */
}
#home {
  display: none;
}

.gallerySection {
  margin: 8vh 0 0 0;
}

.galleryContainer {
  display: flex;
  align-items: center;
}

.imageBox {
  position: relative;
  max-width: 512px;
  margin-top: 2vh;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  transition: left .7s;
  z-index: 0;
}

.galleryImg {
  max-width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

#bathroomGallery {

}

#wholeHouseGallery {

}

#exteriorGallery {

}

button.material-icons-outlined:not(#barsIcon) {
  position: absolute;
  border: none;
  border-radius: 10px;
  padding: 0;
  background-color: rgba(66, 66, 66, 0.6);
  z-index: 1;
  font-size: 2em;
  color: #ffffff;
}

/* Contact Section ////////////////////////////////////////*/
#contact {
  display: none;
}

input {
  font-size: 1em;
  width: 100%;
  max-width: 750px;
  margin: 2vh 0;
  padding: .5vw;
  border: 2px solid #8adaff;
  border-radius: 5px;
}

textarea {
  font-size: 1em;
  width: 100%;
  max-width: 750px;
  margin: 2vh 0;
  padding: .5vw;
  height: 200px;
  border: 2px solid #8adaff;
  border-radius: 5px;
}

.subBtn {
  font-size: 1.2em;
  font-weight: bold;
  width: 20%;
  min-width: 80px;
  color: #ffffff;
  background-color: #606382;
  margin: 2vh 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.subBtn:hover {
  color: #000000;
  background-color: #8adaff;
}

/* End of Page ////////////////////////////////////////////*/
.footer {
  width: 100%;
  height: 8vw;
  background-color: #d9d9d9;
}