
@font-face {
    font-family: "Quattrocento";
    src: url("../fonts/Quattrocento-Bold.ttf");
}

html {
  margin: 0 8vw;
  background-color: #d9d9d9;
  font-family: arial;
}

body {
  background-color: #ffffff;
  /* padding: 4vh 6vw; */
  margin: 0;
  z-index: 0;
}

#bannerImg {
  /* position: relative; */
  width: 100%
}

h1#title {
  font-family: "Quattrocento";
  font-size: 3em;
  margin: 4vh 6vw;
  max-width: 550px;
  border-top: 8px solid #606382;
  border-bottom: 8px solid #606382;
  /* text-align: center; */
}

.subtitle {
  font-family: "Quattrocento";
  font-size: .7em;
}

.menu {
  position: fixed;
  padding-right: 5vw;
  width: 100%;
  height: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: end;
  top: 0;
  right: 0;
  background-color: rgba(66, 66, 66, 0.6);
  border-top: 1vh solid #8adaff;
  border-bottom: 1vh solid #8adaff;
}

nav {
  display: flex;
  flex-direction: column;
}

.navBtn {
  border: none;
  margin: 3vh 0;
  flex-basis: 8%;
  font-size: 1.5em;
  color: white;
  background-color: transparent;
}

.navBtn:hover {
  color: #000000;
  background-color: #8adaff;
  border-radius: 15px;
}

#barsIcon {
  font-size: 3em;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  color: #8adaff;
  border-radius: 15px;
  background-color: transparent;
  cursor: default;
  user-select: none;
}

@media only screen and (min-width: 600px) {
  #barsIcon {
    display: none;
  }

  .menu {
    height: 13vh;
    flex-direction: row;
  }

}

hr {
  border: 4px solid #8adaff;
}

.body {
  margin: 0 6vw;
  padding-bottom: 10vh;
  /* text-align: justify; */
  font-size: 1.2em;
  color: #3d3d40;
}

#about {
  display: none;
}

#services {
  display: none;
}

#serviceHeader {
  position: relative;
  left: -6vw;
  width: 100%;
  padding: 50px 6vw;
  background-color: #606382;
  color: #ffffff;
  margin-bottom: 70px;
}

#serviceBanner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px;
}

.serviceItem > img{
  width: 100%;
  border-radius: 10px;
}

.serviceName {
  text-align: center;
}

.twoColumn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-column-gap: 20%;
}

.twoColumnPart {
  /* flex-basis: 35% */
  justify-content: center;
}

li:not(.imageSizer) {
  text-align: left;
}

#gallery {
  display: none;
}

#contact {
  display: none;
}

.footer {
  width: 100%;
  height: 8vw;
  background-color: #d9d9d9;
}

.gallerySection {
  margin: 8vh 0 0 0;
}

.imageBox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2vh;
  padding: 0;
  list-style: none;
}

.imageSizer {
  height: 40vh;
  flex-grow: 1;
}

.galleryImg {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.imageSizer:last-child {
  flex-grow: 10;
}

input {
  font-size: 1em;
  width: 100%;
  max-width: 750px;
  margin: 2vh 0;
  padding: .5vw;
  border: 2px solid #8adaff;
  border-radius: 5px;
}

textarea {
  font-size: 1em;
  width: 100%;
  max-width: 750px;
  margin: 2vh 0;
  padding: .5vw;
  height: 200px;
  border: 2px solid #8adaff;
  border-radius: 5px;
}

.subBtn {
  font-size: 1.2em;
  font-weight: bold;
  width: 20%;
  min-width: 80px;
  color: #ffffff;
  background-color: #606382;
  margin: 2vh 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.subBtn:hover {
  color: #000000;
  background-color: #8adaff;
}
