
@font-face {
    font-family: "Quattrocento";
    src: url("../fonts/Quattrocento-Bold.ttf");
}

html {
  margin: 0 8vw;
  background-color: #d9d9d9;
  color: #474747;
  font-family: arial;
}

body {
  background-color: #ffffff;
  /* padding: 4vh 6vw; */
  margin: 0;
  z-index: 0;
}

#bannerImg {
  /* position: relative; */
  width: 100%
}

h1#title {
  font-family: "Quattrocento";
  font-size: 2em;
  margin: 4vh 6vw;
  max-width: 550px;
  border-top: 8px solid #606382;
  border-bottom: 8px solid #606382;
  /* text-align: center; */
}

.subtitle {
  font-family: "Quattrocento";
  font-size: .7em;
}

.menu {
  position: fixed;
  padding-right: 5vw;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  top: 0;
  right: 0;
  background-color: rgba(66, 66, 66, 0.6);
  border-top: 10px solid #9dcaed;
  border-bottom: 10px solid #9dcaed;
  z-index: 10;
  transition: height .5s ease-in-out;
  overflow: hidden;
}

nav {
  display: flex;
  grid-gap: 15px;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 20px;
}

.navLink {
  text-decoration: none;
  margin: auto;
  border: none;
  padding: 10px 15px;
  font-size: 1.5em;
  color: white;
  background-color: transparent;
}

.navLink:hover {
  color: #000000;
  background-color: #9dcaed;
  border-radius: 15px;
  box-shadow: 0 0 5px black;
}

#barHolder {
  align-content: unset;
}

#barsIcon {
  font-size: 3em;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  color: #9dcaed;
  border: none;
  border-radius: 15px;
  background-color: transparent;
  cursor: default;
  user-select: none;
}

#logo {
  height: 50px;
  position: absolute;
  left: 50px;
  transition: height .5s ease-in-out, left .5s ease-in-out;
}

.body {
  margin: 0 6vw;
  font-size: 1em;
}

.imgLeft {
  left: 6vw;
}

.imgRight {
  right: 6vw;
}

.banner {
  position: relative;
  width: 100%;
  left: -6vw;
  padding: 50px 6vw;
  background-color: #606382;
  color: #ffffff;
  z-index: 0;
}

.callBanner {
  position: relative;
  left: -6vw;
  width: 100%;
  padding: 20px 6vw;
  background-color: #606382;
  color: #ffffff;
  z-index: 0;
}

.callBanner h4 {
  margin: 0;
}

.bufferGap {
  width: 100%;
  height: 4vw;
}

.heading {
  margin: 0 6vw;
}

.callToAction {
  text-align: center;
  margin-top: 0;
}

hr {
  border: 4px solid #9dcaed;
}

hr.hrCorrection {
  margin: 0 6vw;
}

hr#name {
  max-width: 300px;
  margin: 0;
}

/* Contact Section ////////////////////////////////////////*/


input {
  font-size: 1em;
  width: 100%;
  max-width: 750px;
  margin: 2vh 0;
  padding: .5vw;
  border: 2px solid #9dcaed;
  border-radius: 5px;
}

textarea {
  font-size: 1em;
  width: 100%;
  max-width: 750px;
  margin: 2vh 0;
  padding: .5vw;
  height: 200px;
  border: 2px solid #9dcaed;
  border-radius: 5px;
}

.subBtn {
  font-size: 1.2em;
  font-weight: bold;
  width: 20%;
  min-width: 80px;
  color: #ffffff;
  background-color: #606382;
  margin: 2vh 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.subBtn:hover {
  color: #000000;
  background-color: #9dcaed;
}

/* Review Cards ///////////////////////////////////////////*/
.review {
  max-width: 100%;
  border: 8px solid #9dcaed;
  border-radius: 30px;
  padding: 20px;
  margin-bottom: 30px;
}

.review img {
  max-width: 100px;
}

/* End of Page ////////////////////////////////////////////*/
.footer {
  /* width: 100%; */
  margin: 0 6vw 8vw 6vw;
  background-color: #d9d9d9;
}

/* Desktop styling */
@media only screen and (min-width: 600px) {
  #barsIcon {
    display: none;
  }

  .menu {
    height: 13vh;
  }

  .navBtn {
    margin: 3vh 0;
    flex-basis: 8%;
  }

  nav {
    display: flex;
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  h1#title {
    font-size: 3em;
  }

  .subtitle {
    font-size: .5em;
  }

  #logo {
    height: 13vh;
    position: absolute;
    left: 6vw;
  }

  .body {
    font-size: 1.2em;
  }

  .imgLeft {
    left: 20vw;
  }
  
  .imgRight {
    right: 20vw;
  }

  #serviceMap > img {
    width: 50vw;
  }
}